@tailwind base;
@tailwind components;
@tailwind utilities;
.XXX-common-card.XXX-aoa-date-time-card {
  padding: 32px 12px;
}

.date-time-picker-container {
  height: fit-content;
}
.date-time-picker-container .XXX-aoa-date-picker {
  margin-bottom: 1.5rem;
}
.date-time-picker-container .XXX-aoa-time-picker {
  border-bottom: 2px solid rgb(28, 25, 23);
  margin-bottom: 1.5rem;
}
.date-time-picker-container .XXX-aoa-wait-option h4.XXX-aoa-date-time__heading {
  text-align: inherit;
}
.date-time-picker-container .XXX-aoa-wait-option .XXX-radio:not(:last-of-type) {
  margin-bottom: 1.5rem;
}
.date-time-picker-container .XXX-radio__text {
  font-size: 11px;
}

.XXX-date-carousel {
  position: relative;
  padding: 0 0.2rem 1rem;
  border-bottom: 1px solid rgb(28, 25, 23);
  font-weight: 300;
}
.XXX-date-carousel .XXX-date__box {
  font-weight: 300;
}
.XXX-date-carousel input[type=radio] {
  display: none;
}
.XXX-date-carousel input[type=radio]:checked + .XXX-date__box .XXX-numeral-date {
  background-color: black;
  color: white;
}
.XXX-date-carousel input[type=radio]:disabled + .XXX-date__box {
  color: #d5d5d5;
  cursor: initial;
}
.XXX-date-carousel .XXX-week-day span:not(:first-child) {
  display: none;
}
.XXX-date-carousel .XXX-date__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.XXX-date-carousel .XXX-week-date {
  font-weight: 300;
}
.XXX-date-carousel .XXX-numeral-date {
  width: 22px;
  height: 22px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.7rem;
}

.XXX-carousel.XXX-date-carousel .slick-list {
  width: calc(100% - 1rem);
  margin: auto;
}
.XXX-carousel.XXX-date-carousel .slick-prev {
  left: 0;
}
.XXX-carousel.XXX-date-carousel .slick-next {
  right: 0;
}
.XXX-carousel.XXX-date-carousel .slick-slide {
  display: flex;
  justify-content: center;
}
.XXX-carousel.XXX-date-carousel .slick-arrow {
  box-shadow: none;
  width: unset;
  height: unset;
  background-color: transparent;
}
.XXX-carousel.XXX-date-carousel .slick-arrow svg {
  width: 1rem;
  height: 1rem;
}
.XXX-carousel.XXX-date-carousel .slick-next:before {
  content: ">";
  color: black;
  font-weight: 600;
}
.XXX-carousel.XXX-date-carousel .slick-prev:before {
  content: "<";
  color: black;
  font-weight: 600;
}
.XXX-carousel.XXX-date-carousel .slick-disabled .XXX-icon-ct-chevron-right, .XXX-carousel.XXX-date-carousel .slick-disabled .XXX-icon-ct-chevron-left {
  fill: #d5d5d5;
  cursor: initial;
}

@media (min-width: 335px) {
  .XXX-date-carousel {
    padding: 0 1rem 1.5rem;
  }
  .XXX-date-carousel .XXX-numeral-date {
    width: 30px;
    height: 30px;
  }
  .XXX-carousel.XXX-date-carousel .slick-arrow svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}
.XXX-progress-bar {
  height: 10px;
  line-height: 1;
  border-radius: 10px;
  position: relative;
  background-color: rgba(211, 211, 211, 0.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 0;
}
.XXX-progress-bar--vertical {
  flex-direction: column;
  width: 10px;
  height: 100%;
}
.XXX-progress-bar__progression {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  border-radius: 10px;
  background: rgba(0, 116, 217, 0.8);
  z-index: -1;
}
@media screen and (prefers-reduced-motion: no-preference) {
  .XXX-progress-bar__progression {
    transition: width 0.3s ease;
  }
}

.XXX-progress-bar-container--etire, .XXX-progress-bar-container--regular {
  height: 50px;
  margin: 30px auto 10px auto;
}
.XXX-progress-bar-container--etire {
  width: 25%;
  min-width: 200px;
}
.XXX-progress-bar-container--regular {
  width: 50%;
  min-width: 400px;
}

.XXX-aoa-stepbar-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  transition: 0.3s all ease;
  box-sizing: border-box;
  border-radius: 0px;
}
.XXX-aoa-stepbar-item__step-icon.inverted {
  color: #fff;
}
.XXX-aoa-stepbar-item__step-icon.inverted .XXX-icon {
  fill: #fff;
}
.XXX-aoa-stepbar-item__step-icon.completed {
  color: black;
}
.XXX-aoa-stepbar-item__step-icon.completed .XXX-icon {
  fill: black;
}
.XXX-aoa-stepbar-item__checkmark-icon {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  padding: 3px;
  background-color: #ffffff;
}
.XXX-aoa-stepbar-item__step-title {
  position: absolute;
  top: 100%;
  margin-top: 5px;
  font-size: 0.8em;
}

.XXX-aoa-stepbar-item.completed {
  background-color: #fff;
  border: 2px solid #2b2b2b;
  cursor: pointer;
}

.XXX-aoa-stepbar-item.active {
  background-color: #2b2b2b;
}

.XXX-aoa-stepbar-item.inactive {
  background-color: #cacaca;
  width: 35px;
  height: 35px;
}

.XXX-aoa-stepbar__skeleton {
  height: 100%;
}

.fc .fc-toolbar-title {
  font-size: 1.25rem;
}

/*# sourceMappingURL=shared.css.map */
